<main>
    <h1>{{title}}</h1>
    <p> A palindrome is which can has the same characters when we read it from both the ends. A palindrome is a
        phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation;
        only alphanumeric characters matter). This assignment will find out if the input provided by the user is a
        palindrome or not. This website will check it ignoring all the special characters.</p>


    <form method="POST" action="/result" id="myForm">
        <label for="palindromeTest">Enter The Text To Be Tested if Palindrome</label>
        <input type="text" name="forminput" id="palindromeTest" />
        <button class="button" type="submit">Submit</button>
    </form>



</main>