<main class="post">
    <h1>{{title}}</h1>
    {{#if answer}}
    <p class="success"> It is a Palindrome</p>
    {{else}}
    <p class="failure">No It is not a Palindrome</p>
    {{/if}}

    <a href="/"> Try another Palindrome. </a>
</main>