<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Palindrome check on Client side!</title>

    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        <header>
            <h1>The WHole Palindrome Checker</h1>
            <br>
            <br>
        </header>

        {{{body}}}

        <br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        <footer>
            <p>Rajit Gohel</p>
            <p>10455405</p>
            <p>This is my Web assignment</p>

        </footer>

    </main>
    <script src="/public/js/form.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>