<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Amazing Website For You!</title>

    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        <header>
            <h1>Welcome to the Website!</h1>
            <br>
            <br>
        </header>

        {{{body}}}

        <br>
        <br><br>
        <br><br>
        <br><br>
        <br>
        <footer>
            <p>Rajit Gohel cwid 10455405</p>


        </footer>

    </main>


</body>

</html>