<div class="row">
    <div class="col-sm-12">
        <div class="error" id="error" hidden>

        </div>
        <form id="static-form" method="post">
            <div class="form-group">
                <label for="Text" class="label1">Enter the text to check palindrome</label><br>
                <br>
                <input type="text" class="form-control" id="phrase" name="phrase" placeholder="phrase">
            </div><br>
            <br>
            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div><br>
            <br>
            <div class="form-group">
                <button type="submit" class="button">Submit</button>
            </div><br>
            <br>
            <div class="form-group hidden" id="result-container">
                <div class="alert alert-success text-goes-here">
                </div>
            </div><br>
            <br>
        </form>
        <ol id="attempts">

        </ol>
    </div>
</div>